* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-size: 1rem;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================== */
body {
  padding: 0 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1em;
}

.card-container {
  position: relative;
  height: 317px;
}

.img-container {
  width: 100%;
  height: 100%;
}

.card-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(13, 104, 177, .9);
  padding: 1.25em;
}

.flex--date-event {
  display: flex;
  align-items: center;
  gap: .75em;
}

.flex--date-event span {
  font-size: .625rem;
}

.flex--date-event span:first-child {
  color: rgba(255, 255, 255, .5);
  font-size: .875rem;
}

.accent {
  border: 1px solid #f9c700;
  border-radius: 100px;
  padding: .125em .75em;
  color: #f9c700;
  text-transform: uppercase;
}

.description {
  margin-top: .75em;
  color: white;
}

.side-content {
  height: 70em;
}

.side {
  height: 317px;
}

.span {
  margin-top: 5rem;
}

hr {
  margin-bottom: 2rem;
  opacity: .5;
}

/* =========================== */
@media (min-width: 1024px) {
  
  .card-grid {
    width: 70em;
  }

  .card-flex {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    gap: 5rem;
  }

  .side-content {
    align-items: flex-start;
  }

  .upcoming-event .span {
    margin-top: 1em;
  }

  .latest-news , span {
    margin-top: 1em;
  }
}